<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello to Thymeleaf Assignment</h1>
<a href="q1">Question1</a><br><br>
<a href="q2">Question2</a><br><br>
<a href="q3">Question3</a><br><br>
<a href="q4">Question4</a><br><br>
<a href="q5">Question5</a><br><br>
<a href="q6">Question6</a><br><br>
<a href="q7">Question7</a><br><br>
<a href="q8">Question8</a><br><br>
<a href="q9">Question9</a><br><br>
<a href="q10">Question10</a><br><br>

</body>
</html>

